mat-card {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;                                      //reworked this - didnt like padding fix
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  flex-direction: column;
}

.errors {
  height: 100px;
  background-color: #f44336;
  color: white;
}

.isla-error-container { 
  color: #f44336;
  height: 2.34375em;                  //used a container which reserved the space instead to stop popping and make form feel more solid
  line-height: 1.6em;
}

  mat-form-field {  
        ::ng-deep .mat-form-field-wrapper {     //not mad about using ng::deep - i know being deprecated but i think safer than disabling view encapsulation .. I targetted AFTER parent to limit scope
      padding-bottom: 0;
    }
  }


